/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 36px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 4.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.flex-container {
  display: flex;

  background-color: #bbdefb;
  height: 100%;
  padding: 35px;
  gap: 35px;
}

.item1 {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item1:hover {
  color: white;
  transform: scale(1.4);
}

.item2 {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item2:hover {
  color: white;
  transform: scale(1.4);
}

.item3 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item3:hover {
  color: white;
  transform: scale(1.4);
}

.item4 {
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item4:hover {
  color: white;
  transform: scale(1.4);
}

.item5 {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.item5:hover {
  color: white;
  transform: scale(1.4);
}
